{
  "openapi": "3.0.1",
  "info": {
    "title": "API TariffPro",
    "version": "2.0.0",
    "description": "This documentation provides details on how to use the TariffPro Customs Classifier API to classify images, texts, PDF files, and Excel files into Mexican tariff fractions."
  },
  "servers": [
    {
      "url": "https://pyapi.camtomx.com"
    }
  ],
  "paths": {
    "/api/v3/tariffpro/text": {
      "post": {
        "summary": "Text Classification",
        "description": "Tariff classification based on text",
        "operationId": "classifyTextAndImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_description": {
                    "type": "string",
                    "example": "silk waste"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_identifier",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A unique identifier set by the developer to track which user or entity is using the API key."
          }
        ],
        "responses": {
          "200": {
            "description": "Tariff suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "chapter": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      },
                      "heading": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      },
                      "subheading": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      },
                      "fraction": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      },
                      "fraction_and_nico": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      },
                      "overall_confidence": {
                        "type": "number",
                        "example": 92.23
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v3/tariffpro/image": {
      "post": {
        "summary": "Image Classification",
        "description": "Tariff Classification based on a image",
        "operationId": "classifyPDF",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "img_url": {
                    "type": "string",
                    "example": "https://img-example-url.jpeg"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_identifier",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A unique identifier set by the developer to track which user or entity is using the API key."
          }
        ],
        "responses": {
          "200": {
            "description": "Tariff suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "chapter": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      },
                      "heading": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      },
                      "subheading": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      },
                      "fraction": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      },
                      "fraction_and_nico": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      },
                      "overall_confidence": {
                        "type": "number",
                        "example": 92.23
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v3/tariffpro/text-and-image": {
      "post": {
        "summary": "Image and Text Classification",
        "description": "Classifies a product based on both Image and Text, which complement each other.",
        "operationId": "classifyExcel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_description": {
                    "type": "string",
                    "example": "silk waste"
                  },
                  "img_url": {
                    "type": "string",
                    "example": "https://img-example-url.jpeg"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_identifier",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A unique identifier set by the developer to track which user or entity is using the API key."
          }
        ],
        "responses": {
          "200": {
            "description": "Tariff suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "chapter": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      },
                      "heading": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      },
                      "subheading": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      },
                      "fraction": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      },
                      "fraction_and_nico": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      },
                      "overall_confidence": {
                        "type": "number",
                        "example": 92.23
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v3/tariffpro/pdf": {
      "post": {
        "summary": "PDF Datasheet Classification",
        "description": "Classifies a product based on a datasheet PDF. Supports one product at a time.",
        "operationId": "classifyPDF",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The path to the PDF datasheet file to classify"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_identifier",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A unique identifier set by the developer to track which user or entity is using the API key."
          }
        ],
        "responses": {
          "200": {
            "description": "Tariff suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "chapter": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      },
                      "heading": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      },
                      "subheading": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      },
                      "fraction": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      },
                      "fraction_and_nico": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      },
                      "overall_confidence": {
                        "type": "number",
                        "example": 92.23
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}